html

h1 {
  background-color: rgb(107, 107, 146);
  text-align: center;
}

div {
  background-color: rgb(107, 107, 148);
  text-align: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  border: 2px solid orange;

}


.navbar {
  background-color: black;
  color: aliceblue;
  width: min-content;
}

.image img {
  width: 300px;
  border-radius: 50%;
  border: 10px solid white;
}

.section {
  padding: 30px;
  margin: -17px;
}

.image {
 
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 107, 148);
  
}
.flex-container{display: flex;}
    .aside{display: flex;}


  